.selected_item {
  cursor: pointer;
}

.selected_item .icon_wrapper { 
  position: absolute;
  transition: all 0.3s ease;
  transform: translateX(-100%);
}

.selected_item .text { 
  position: absolute;
  transition: all 0.3s ease;
}

.selected_item:hover .icon_wrapper {
  transform: translateX(0%);
}

.selected_item:hover .text {
  transform: translateX(24px);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(-10px);
  }
}