@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/helvetica-255');
@import url('https://fonts.cdnfonts.com/css/helveticaneue-2');

html,
body,
#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EAEAEA;
  font-family: Arial, Helvetica, 'HelveticaNeue', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

i.symbol {
  font-family: var(--font-family-symbols); 
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}